<div class="container">
    <div class="m-4 d-flex justify-content-center">
      <h2 class="text-success">Welcome to Rick and Morty Web</h2>
    </div>
    <div class="m-4 d-flex justify-content-center">
      <p class="text-center">This website is dedicated to the popular animated series "Rick and Morty". 
        Here, you will find detailed information about the characters, episodes, and much more. 
        Explore the fascinating universe of Rick Sanchez and his grandson Morty Smith as they embark on interdimensional adventures filled with humor and science fiction.</p>
    </div>
    <div class="m-4 d-flex justify-content-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpVvWyHbEencXltsIbmurCkd_imUTaJ-CmMQ8i4NqMGA9GEMHQMVBNK8QZpQ43svVmXHM&usqp=CAU" alt="">
    </div>
    <div class="m-4 d-flex justify-content-center">
        <a href="/characters" class="btn btn-outline-success text-success mt-4">Explore Characters</a>
    </div> 
  </div>
  