  <header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <img src="https://play-lh.googleusercontent.com/fXQVXTma1ENwAFjsxJ4IT6GntBr3RxWP3HMSLbNdvycl-0tscOQEeJIEAmehcNOt5hCp=w240-h480-rw" class="rick-i" alt="">
      <a class="navbar-collapse ml-5 text-white title" href="/home"><h4>Rick and Morty</h4></a>
        <div class="navbar-nav">
            <a class="nav-link text-white" href="/home">Home</a>
            <a class="nav-link text-white" href="/characters">Characters</a>
            <a class="nav-link text-white" href="/about">About</a>
        </div>
        <div class="d-flex px-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery">
          <button class="btn btn-outline-success" (click)="onSearch()" type="submit">Search</button>
        </div>
    </nav>
  </header>

  <router-outlet></router-outlet>