  <header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <img src="https://www.pokemon.com/static-assets/app/static3/img/og-default-image.jpeg" class="rick-i" alt="">
      <a class="navbar-collapse ml-5 text-white title" href="/home"><h4>Pokemon</h4></a>
        <div class="navbar-nav">
            <a class="nav-link text-white" href="/home">Home</a>
            <a class="nav-link text-white" href="/characters">Characters</a>
            <a class="nav-link text-white" href="/about">About</a>
        </div>
        <div class="d-flex px-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery">
          <button class="btn btn-outline-success" (click)="onSearch()" type="submit">Search</button>
          <button class="btn btn-outline-danger" (click)="resetSearch()">X</button>
        </div>
    </nav>
  </header>

  <router-outlet></router-outlet>