<div class="container d-flex align-items-center justify-content-center">
    <div>
        <h1>Pokemon</h1>
        <p>Welcome to the most vibrant, fantastical, and captivating world out there - the Pokémon universe! In this dimension, you'll encounter a myriad of extraordinary creatures, embark on thrilling adventures, and experience a whirlwind of excitement.
Join trainers from all walks of life as you journey through various regions, from the iconic landscapes of Kanto to the mystical realms of Sinnoh. Get ready for an unforgettable quest that will push the boundaries of your imagination and challenge your skills as a Pokémon trainer.
So grab your Poké Ball, tighten your trainer's cap, and get ready to explore a vast and enchanting world filled with diverse Pokémon species. From the towering mountains of Galar to the lush forests of Johto, each location holds unique challenges and hidden treasures waiting to be discovered.
Are you prepared to dive into the awe-inspiring universe of Pokémon? Join us now and embark on an adventure that will ignite your spirit, test your abilities, and forge unbreakable bonds with your beloved Pokémon companions.</p>
        <a href="/login" class="btn btn-outline-success text-success mt-4">Get Schwifty and Login!</a>
    </div>
    <img src="https://elcomercio.pe/resizer/pqoIxl4h3_Xe7ChCxxDQP8GUykk=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/66AM3SSB3ZGSJNU2TQAVJNHIWE.jpg" alt="">
</div>
