<div class="container d-flex align-items-center justify-content-center">
    <div>
        <h1>Rick and Morty</h1>
        <p>Welcome to the craziest, weirdest, and most mind-bending universe out there! In this dimension, you'll encounter eccentric characters, mind-blowing adventures, and a healthy dose of interdimensional chaos.
            Join Rick Sanchez, the genius and alcoholic scientist, and his naive grandson Morty Smith as they traverse the vast multiverse. From the surreal landscapes of Plumbus World to the zany shenanigans of the Council of Ricks, get ready for an unforgettable journey that will leave you questioning the fabric of reality itself!
            So buckle up, put on your portal gun, and get ready for a wild ride through time, space, and infinite dimensions. Explore the unknown, encounter bizarre creatures, and witness the hilarious mishaps that can only happen in the Rick and Morty universe.
            Are you ready to dive into the chaotic and mind-bending world of Rick and Morty? Join us now and embark on an adventure that will tickle your funny bone and blow your mind!</p>
        <a href="/login" class="btn btn-outline-success text-success mt-4">Get Schwifty and Login!</a>
    </div>
    <img src="https://www.freeiconspng.com/thumbs/rick-and-morty-folder-icon/rick-and-morty-icon-png-images-29.png" alt="">
</div>